<div class="container mt-4" *ngFor="let product of products">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.artist}}</mat-card-title>
      <mat-card-subtitle>{{product.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img{{product.id}}.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{product.description}}
      </p>
      <p>{{product.price}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>


  <!-- <div class="card">
    <div class="card-body">
      <span class="h3">Lista Discos</span>
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Artista</th>
            <th scope="col">Género</th>
            <th scope="col">Duración</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>American Idiot</td>
            <td>Green Day</td>
            <td>Pop Punk</td>
            <td>01:10</td>
            <td>$24.99</td>
          </tr>
          <tr>
            <td>American Idiot</td>
            <td>Green Day</td>
            <td>Pop Punk</td>
            <td>01:10</td>
            <td>$24.99</td>
          </tr>

        </tbody>
      </table> -->
      <!-- <div *ngFor="let product of products">
      <div class="card">
        <div class="image"><img src="assets/img{{product.id}}.png"></div>
          <h2 class="title">{{product.name}}</h2>
          <span class="price">${{product.price}}</span>

        </div>
      </div>

      <ul>
        <div class="container-sm" *ngFor="let product of products">
          <div class="info">
            <p>{{product.id}}</p>
            <p>{{product.artist}}</p>
            <p>{{product.description}}</p>
            <p>{{product.genero}}</p>
            <p>{{product.price}}</p>

            <img src="assets/img{{product.id}}.png" >
          </div>

        </div>
      </ul> -->
    </div>

