<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Lista Discos</span>
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Artista</th>
            <th scope="col">Género</th>
            <th scope="col">Duración</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>American Idiot</td>
            <td>Green Day</td>
            <td>Pop Punk</td>
            <td>01:10</td>
            <td>$24.99</td>
          </tr>
          <tr>
            <td>American Idiot</td>
            <td>Green Day</td>
            <td>Pop Punk</td>
            <td>01:10</td>
            <td>$24.99</td>
          </tr>

        </tbody>
      </table>
      <ul>

      </ul>
    </div>
  </div>
</div>
