<header>

  <nav class="navbar navbar-expand-lg bg-lg shadow-sm" style="background-color: rgb(77, 52, 189); height: 64px;">

    <div class="container-fluid">
      <!-- &nbsp;  <a routerLink=""><img src="assets/logoNav.svg" style="width: 48px;"></a> -->
      <a class="navbar-brand" routerLink="">Motos UCB</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  routerLink="">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/comprar">Comprar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/iniciar-sesion">Login</a>
          </li>
        </ul>

      </div>
    </div>
    <div cias col-md-6 d-riex jJustity-content-end >
      <a style="padding: 10px;" class="button fancy-button" routerLink="/comprar" style="color: white;" >
      <!-- <img src="assets/carrito.png"> -->
      Checkout()
      </a>
      </div>


  </nav>
</header>
